<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 margem-menu">

      <!--Botões Topo-->
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group pull-right">
            <button type="submit" class="btn btn-warning">Limpar</button>
            <button type="submit" class="btn btn-primary">Filtrar</button>
          </div>
        </div>
      </div>

      <!--Tabela Pesquisa-->
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-striped table-hover table-responsive">
            <thead>
              <tr>
                <th class="coluna-10"><span class="pointer">Codigo <i class="fa fa-sort"  aria-hidden="true"></i></span></th>
                <th class="coluna-40"><span class="pointer">Descrição <i class="fa fa-sort" aria-hidden="true"></i></span></th>
                <th class="coluna-25"><span class="pointer">Comprimento Inicial <i class="fa fa-sort" aria-hidden="true"></i></span></th>
                <th class="coluna-25"><span class="pointer">Comprimento Final <i class="fa fa-sort" aria-hidden="true"></i></span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row"><input class="coluna-100" type="text" /></td>
                <td> <input class="coluna-100" type="text" /></td>
                <td> <input class="coluna-100" type="text" /></td>
                <td><input class="coluna-100" type="text" /></td>
              </tr>
              <tr class="tr-hover pointer">
                <td scope="row">0000</td>
                <td>00sda sdf dsf sf fa f fds asdf sa asf safd sfd asf sdfsadfas asda sff asdfsd fd aafd fas ff1</td>
                <td>Bootstrap essencial - ME</td>
                <td>00.000.000-23</td>
              </tr>
              <tr class="tr-hover pointer">
                <td scope="row">000</td>
                  <td>001</td>
                  <td>Boosadf saf sfd a essencial - ME</td>
                  <td>00.000.000-23</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!--Fechamento Geral-->
    </div>
  </div>
</div>