<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 margem-menu">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb azul-daiana text-white">
            <h2 class="h3">Cliente</h2>
          </div>
        </div>
      </div>
      <form action="">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb ">
              <h2 class="h6">Dados Pessoais</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input [(ngModel)]="cliente.nome"  name="cliente.nome" type="text" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Nome Completo">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <legend class="col-form-legend">Sexo</legend>
              <label  class="custom-control custom-radio">
                <input id="radio1" name="radio" type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Senhor</span>
              </label>
              <label class="custom-control custom-radio">
                <input id="radio2" name="radio" type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Senhora</span>
              </label>

            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="cep">CPF</label>
              <input type="text" [(ngModel)]="cliente.cpf"  name="cliente.cpf" class="form-control" id="cep" aria-describedby="cpf" placeholder="Somente Números">
            </div>

          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="telefone1">Data Nascimento</label>
              <input type="text" [(ngModel)]="cliente.dataNascimento"  name="cliente.dataNascimento" class="form-control" id="data-nascimento" aria-describedby="data-nascimento" placeholder="Somente Números">
            </div>
          </div>
        </div>



        <div *ngFor="let telefone of cliente.telefones; let isLast = last; let i = index;" class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="telefone.id" class=" control-label">Telefone {{i+1}}</label>
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="telefone.numero" name="{{telefone.id}}" aria-describedby="telefone2"
                  value="{{telefone.numero}}" />

                <span class="input-group-btn">
							    <button  *ngIf="cliente.telefones.length > 1" (click)="removerTelefone(i, last)" class="btn btn-secondary" type="button"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
                </span>
                <span class="input-group-btn">
							    <button *ngIf="isLast" (click)="adicionarTelefone()" class="btn btn-secondary" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div>



        <!-- Endereço -->

        <div *ngFor="let endereco of cliente.enderecos; let isLast = last; let i = index;" class="row">
          <div class="col-lg-12">
            <div class="row margem-formulario">
              <div class="col-lg-12">
                <div class="breadcrumb ">

                  <div class="row">
                    <div class="col-lg-12">
                      <h2 class="h6 pull-left">Endereço {{i+1}}</h2>
                      <button *ngIf="cliente.enderecos.length > 1" (click)="removerEndereco(i, last)" class="btn btn-secondary pull-right" type="button"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
                      <button *ngIf="isLast" (click)="adicionarEndereco()" class="btn btn-secondary pull-right" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="cep" class=" control-label">CEP</label>
                  <div class="input-group">
                    <input [(ngModel)]="endereco.cep" name="{{endereco.id}}" type="text" class="form-control" name="cep" id="cep" placeholder="CEP"
                    />
                    <span class="input-group-btn">
							    <button class="btn btn-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="form-group">
                  <label for="rua">Rua</label>
                  <input [(ngModel)]="endereco.rua" name="{{endereco.rua}}-{{endereco.id}}" type="text" class="form-control" id="rua" aria-describedby="rua"
                    placeholder="Rua">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="rua">Número</label>
                  <input [(ngModel)]="endereco.numeroResidencia" name="{{endereco.numeroResidencia}}-{{endereco.id}}" type="text" class="form-control" id="rua"
                    aria-describedby="rua" placeholder="Numero">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="form-group">
                  <label for="edificio">Edifício</label>
                  <input [(ngModel)]="endereco.edificio" name="{{endereco.edificio}}-{{endereco.id}}" type="text" class="form-control" id="rua"
                    aria-describedby="rua" placeholder="Edificio">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="rua">Bloco</label>
                  <input [(ngModel)]="endereco.bloco" name="{{endereco.bloco}}-{{endereco.id}}" type="text" class="form-control" id="rua" aria-describedby="rua"
                    placeholder="Bloco">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="edificio">Número Apartamento</label>
                  <input [(ngModel)]="endereco.apartamento" name="{{endereco.apartamento}}-{{endereco.id}}" type="text" class="form-control"
                    id="rua" aria-describedby="Número Apartamento" placeholder="Número do Apartamento">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="complemento">Complemento</label>
                  <input [(ngModel)]="endereco.complemento" name="{{endereco.complemento}}-{{endereco.id}}" type="text" class="form-control"
                    id="rua" aria-describedby="Complemento" placeholder="Complemento">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="bairro">Bairro</label>
                  <input [(ngModel)]="endereco.bairro" name="{{endereco.bairro}}-{{endereco.id}}" type="text" class="form-control" id="cep"
                    aria-describedby="bairro" placeholder="Bairro">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="rua">Cidade</label>
                  <input [(ngModel)]="endereco.cidade" name="{{endereco.cidade}}-{{endereco.id}}" type="text" class="form-control" id="cidade"
                    aria-describedby="cidade" placeholder="Cidade">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="uf">UF</label>
                  <select [(ngModel)]="endereco.uf" name="{{endereco.uf}}-{{endereco.id}}" class="form-control" id="uf">
              <option>1</option>
              <option>2</option>
            </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
              <div class="form-group">
                <label for="exampleTextarea">Ponto Refência</label>
                <textarea  [(ngModel)]="endereco.pontoReferencia" name="{{endereco.pontoReferencia}}-{{endereco.id}}" class="form-control" rows="3"></textarea>
              </div>
            </div>
            </div>


          </div>
        </div>
        <!--fechamento for-->




        <!-- Botões-->
        <div class="row">
          <div class="col-lg-12 margem-formulario">
            <div class="form-group">
              <button type="submit" (click)="salvar()" class="btn btn-primary">Salvar</button>
              <button type="submit" class="btn btn-secondary " data-toggle="modal" data-target="#modalDesabilitar">Desabilitar</button>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalExcluir">Excluir</button>
              <button type="submit" class="btn btn-secondary">Cancelar</button>
            </div>
          </div>
        </div>



        <!-- Modal Excluir -->
        <div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excluir?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <p>Só é possível excluir a pelo se não houver nenhum pet com esta raça.</p>
                <p>Caso tenha utilize o botão desabilitar</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Confirmar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Desabilitar -->
        <div class="modal fade" id="modalDesabilitar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Desabilitar?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <p>Não será mais possível cadastrar novos pets com esta descrição de pelo.</p>
                <p>Os pets já cadastrado permanecerão com a mesma descrição de pelo.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Confirmar</button>
              </div>
            </div>
          </div>
        </div>


      </form>

      <!--Fechamento Geral-->
    </div>
  </div>
</div>