<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 bg-black margem-menu">

      <div class="card w-100">

        <div class="card-header h5">
          Login
        </div>

        <div class="card-block">
          <form>
            <div class="form-group">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Usuário">
            </div>
            </div>

            <div class="form-group">
            <label class="sr-only" for="inlineFormInputGroup">Senha</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Senha">
            </div>
            </div>
            
    
              <div class="form-group">
             <button type="submit" class="btn btn-primary w-100 btn-lg">Entrar</button>
       </div>
               <div class="form-group">
              <a routerLink="/login" class="pull-right">Recuperar Senha</a>
            </div>

        </form>
  </div>
      </div>

    </div>
  </div>
</div>