<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 margem-menu">

      <!--Botões Topo-->
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group pull-right">
            <button type="submit" class="btn btn-secondary">Limpar</button>
            <button type="submit" class="btn btn-primary">Filtrar</button>
          </div>
        </div>
      </div>

      <!--Tabela Pesquisa-->
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-striped table-hover table-responsive">
            <thead>
              <tr>
                <th class="coluna-10"><span class="pointer">Codigo <i class="fa fa-sort"></i></span> </th>
                <th class="coluna-50"><span class="pointer">Descrição <i class="fa fa-sort"></i></span> </th>
                <th class="coluna-20"><span class="pointer">Tamanho <i class="fa fa-sort"></i></span> </th>
                <th class="coluna-20"><span class="pointer">Categoria Raça <i class="fa fa-sort"></i></span> </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row"><input class="coluna-100" type="text" /></td>
                <td><input type="text " class="coluna-100" /></td>
                <td><input type="text " class="coluna-100" /></td>
                <td><input type="text " class="coluna-100" /></td>
              </tr>
              <tr class="tr-hover pointer ">
                <td scope="row ">1</td>
                <td>yasdfasdfasdf asfasdf asdasd f fsar</td>
                <td>yasdfasdfasdf asfasdf asdasd f fsar</td>
                <td>yasdfasdfasdf asfasdf asdasd f fsar</td>
              </tr>
              <tr class="tr-hover pointer ">
                <td scope="row">1</td>
                <td>yr</td>
                <td>yasdfasdfasdf asfasdf asdasd f fsar</td>
                <td>yasdfasdfasdf asfasdf asdasd f fsar</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-lg 6">
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="">1</a></li>
              <li class="page-item active">
                <a class="page-link" href="">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-6">
          <div class="pull-right">
            <button routerLink="/pacote-cadastro" type="submit" class="btn btn-primary ">Incluir</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>