<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 margem-menu">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb azul-daiana text-white">
            <h2 class="h3">Pacote</h2>
          </div>
        </div>
      </div>
      <form>

        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb ">
              <h2 class="h6">Dados do Pacote</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-9">
            <div class="form-group">
              <label for="descricao">Descrição</label>
              <input class="form-control" aria-describedby="descricao" type="text" name="descricao" value="" placeholder="Nome do serviço">
            </div>
          </div>



          <div class="col-lg-3">
            <div class="form-group">
              <label for="exampleSelect1">Período Plano</label>
              <select class="form-control" id="exampleSelect1">
                <option selected>Escolha</option>
                <option>Mensal</option>
                <option>Trimestral</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="exampleSelect1">Tamanho</label>
              <select class="form-control" id="exampleSelect1">
                <option selected>Escolha</option>
                <option>Pequeno - 1 a 5</option>
                <option>Medio - 6 a 9</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label for="exampleSelect1">Categoria Raça</label>
              <select class="form-control" id="exampleSelect1">
                <option selected>Escolha</option>
                <option>Tradicional</option>
                <option>Especial</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row margem-menu">
          <div class="col-lg-12">
            <div class="breadcrumb ">
              <h2 class="h6">Serviços</h2>
            </div>
          </div>
        </div>

        <!--Tabela Pesquisa-->
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-striped table-hover table-responsive">
              <thead>
                <tr>
                  <th class="coluna-15"><span class="pointer">Quant<i class="fa fa-sort"></i></span> </th>
                  <th class="coluna-15"><span class="pointer">Codigo <i class="fa fa-sort"></i></span> </th>
                  <th class="coluna-50"><span class="pointer">Descrição <i class="fa fa-sort"></i></span> </th>
                  <th class="coluna-20"><span class="pointer">Valor <i class="fa fa-sort"></i></span> </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row"></td>
                  <td><input type="text " class="coluna-100" /></td>
                  <td><input type="text " class="coluna-100" /></td>
                  <td><input type="text " class="coluna-100" /></td>
                </tr>
                <tr *ngFor="let servico of servicos" class="tr-hover pointer ">
                  <td scope="row"><input [(ngModel)]="pacote.quantidade" name="pacote-quantidade" class="coluna-100" type="text" /></td>
                  <td >{{servico.id}}</td>
                  <td>{{servico.descricao}}</td>
                  <td>{{servico.valor}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <!-- Botões-->
        <div class="row">
          <div class="col-lg-12 margem-formulario">
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Salvar</button>
              <button type="submit" class="btn btn-secondary " data-toggle="modal" data-target="#modalDesabilitar">Desabilitar</button>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalExcluir">Excluir</button>
              <button type="submit" class="btn btn-secondary">Cancelar</button>
              <button type="submit" class="btn btn-warning pull-right">Avançar</button>
            </div>
          </div>
        </div>



        <!-- Modal Excluir -->
        <div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excluir?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <p>Só é possível excluir a pelo se não houver nenhum pet com esta raça.</p>
                <p>Caso tenha utilize o botão desabilitar</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Confirmar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Desabilitar -->
        <div class="modal fade" id="modalDesabilitar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Desabilitar?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <p>Não será mais possível cadastrar novos pets com esta descrição de pelo.</p>
                <p>Os pets já cadastrado permanecerão com a mesma descrição de pelo.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Confirmar</button>
              </div>
            </div>
          </div>
        </div>


      </form>

      <!--Fechamento Geral-->
    </div>
  </div>
</div>